body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    }

    :root {
    --title-color: #2E2F42;
    --text-color: #434455;
    }
    
    /**-------Bez krapok v spiskax-----*/
    .list {
        list-style: none;
    }

    /**--------Bez pidkreslenya--------*/
    .link {
    text-decoration: none;    
    }
    
    .section-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--title-color);
    }

    .section-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text-color);
    }

    /**--------------HEADER------------*/
    .header {}
    .header-navigation {}
    .header-logo {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: var(--title-color);
    }
    .header-logo span {
        color: #4D5AE5;
    }
    .header-menu {}
    .header-menu-item {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--title-color);
    }
    .header-menu-link {}
    .header-address {}
    .header-address-menu {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text-color);
    }
    .address-item {}
    .address-link:hover, .address-link:focus {
        color: #fd9222;
    }

    /*todo-------------MAIN------------*/

    /**--------------Section 1---------*/
    .reclama {}
    .reclama-effective {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #FFFFFF;
    }
    .reclama-btn {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        cursor: pointer;
    }

    .reclama-btn:hover, .reclama-btn:focus {
        color: #fd9222;
    }

     /**--------------Section 2---------*/
     .directions {}
    .directions-title {}
    .directions-menu {}
    .directions-item {}
    .directions-strategy-title {}
    .directions-strategy-text {}
    .directions-punctuality-title {}
    .directions-punctuality-text {}
    .directions-diligence-title {}
    .directions-diligence-text {}
    .directions-technologies-title {}
    .directions-technologies-text {}

    /**--------------Section 3---------*/
    .doing {}
    .doing-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--title-color);
    }
    .doing-menu {}
    .doing-item {}
    
    /**--------------Section 4---------*/
    .team {}
    .team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--title-color);
    }
    .team-menu {}
    .team-item {}
    .team-guerrero-title {}
    .team-guerrero-text {}
    .team-ford-title {}
    .team-ford-text {}
    .team-garcia-title {}
    .team-garcia-text {}
    .team-wilson-title {}
    .team-wilson-text {}

    /**--------------FOOTER---------*/
    .footer {}
    .footer-logo {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #F4F4FD;
    }
    .footer-logo span {
        color: #4D5AE5;
    }
    .footer-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
    }

    /**---Portfolio------HEADER---------*/
    
    .p-header-menu {}
    .p-header-menu-item {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--title-color);
    }
    .p-header-menu-link {}
    .p-header-address {}
        .p-header-address-menu {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text-color); 
    }
    .p-address-item {}
    .p-address-link:hover, .p-address-link:focus {
        color: #fd9222;
    }
    
    /**---Portfolio------Section 1---------*/
    .button-menu {}
    .button-menu-item {}

    .button-menu-all {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        cursor: pointer;
    }

    .button-menu-all:hover, .button-menu-all:focus {
        color: #fd9222;
    }

    .button-menu-general {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #4D5AE5;
        cursor: pointer;
    }
    
    .button-menu-general:hover, .button-menu-general:focus {
        color: #fd9222;
    }

    /**---Portfolio------Section 2---------*/
    .section-two-menu {}
    .section-two-item {}
    .banking-title {}
    .banking-text {}
    .cashless-title {}
    .cashless-text {}
    .meditation-title {}
    .meditation-text {}

     /**---Portfolio------Section 3---------*/
     .section-three-menu {}
    .section-three-item {}
    .taxi-title {}
    .taxi-text {}
    .screen-title {}
    .screen-text {}
    .online-title {}
    .online-text {}

    /**---Portfolio------Section 4---------*/
    .section-four-menu {}
    .section-four-item {}
    .instagram-title {}
    .instagram-text {}
    .organic-title {}
    .organic-text {}
    .fresh-title {}
    .fresh-text {}
    
    
